# Dependencias
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/
build/

# Variables de entorno (¡nunca subir claves!)
.env
.env.local
.env.production

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
